/* Global */

* {
    border: none;
    border-radius: 0;
    font-family: FiraCode Nerd Font Mono;
    font-size: 13px;
    font-weight: bold;
    min-height: 18px;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.5);
}

window#waybar.hidden {
    opacity: 0.2;
}

#window {
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    background-color: rgba(43, 48, 59, 0.75);
    color: #ffffff;
}

/* Left */

#workspaces {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 8px;
    border-radius: 10px;
    background: #3d3d3d;
    transition: none;
}

#workspaces button {
    transition: none;
    color: #f8f8f2;
    background: transparent;
    font-size: 16px;
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
}

#workspaces button.focused {
    background: #8ecae6;
    color: #4d4d4d;
    border-radius: 10px;
}

#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    color: #f8f8f2;
    background: #000000;
    border-radius: 10px;
}

#custom-spotify {
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2px;
    border-radius: 10px;
    background: #ff97b7;
    transition: none;
    color: #4d4d4d;
    background-color: #5af78e;
}

/* Right */

#pulseaudio {
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2px;
    border-radius: 10px;
    transition: none;
    color: #4d4d4d;
    background: #9aedfe;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#network {
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2px;
    border-radius: 10px;
    transition: none;
    color: #4d4d4d;
    background: #84dcc6;
}

#network.disconnected {
     background-color: #f53c3c;
}

#cpu {
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2px;
    border-radius: 10px;
    transition: none;
    color: #4d4d4d;
    background: #f1fa8c;
}

#memory {
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2px;
    border-radius: 10px;
    transition: none;
    color: #4d4d4d;
    background: #FFC09F;
}

#temperature {
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2px;
    border-radius: 10px;
    transition: none;
    color: #4d4d4d;
    background: #ADF7B6;
}

#temperature.critical {
     background-color: #eb4d4b;
}

#backlight {
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2px;
    border-radius: 10px;
    transition: none;
    color: #f8f8f2;
    background: #79ADDC;
}


#battery {
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2px;
    border-radius: 10px;
    transition: none;
    color: #4d4d4d;
    background: #FCF5C7;
}

#battery.charging {
    color: #4d4d4d;
    background: #5af78e;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#clock {
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2px;
    border-radius: 10px;
    transition: none;
    color: #f8f8f2;
    background: #4d4d4d;
}

#tray {
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2px;
    border-radius: 10px;
    transition: none;
    color: #f8f8f2;
    background: #4d4d4d;
}
